default/testflow.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1763540719293,
    "description" : "test git",
    "identifier" : "testflow",
    "lastModifiedTimestamp" : 1763540719293,
    "name" : "test_flow",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "bea5ebc4-3e1b-3eae-aee7-8d23abd4635b",
        "name" : "AttributesToJSON",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "a333cae9-d401-33d6-96c3-3ec4261e515d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "comms.failure", "failure", "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "2adddd5e-4b9d-334a-9fab-1d7cbf5036d6",
        "name" : "AbortQueryJob",
        "type" : "PROCESSOR"
      },
      "zIndex" : 1
    } ],
    "controllerServices" : [ ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "Test For Git",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "runtime-salesforce-processors-nar",
        "group" : "com.snowflake.openflow.runtime",
        "version" : "2025.11.18.22"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "2adddd5e-4b9d-334a-9fab-1d7cbf5036d6",
      "maxBackoffPeriod" : "10 mins",
      "name" : "AbortQueryJob",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -339.79265303284114,
        "y" : -2.9930497195539374
      },
      "properties" : {
        "Job ID" : "${jobId}"
      },
      "propertyDescriptors" : {
        "Job ID" : {
          "displayName" : "Job ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Job ID",
          "sensitive" : false
        },
        "Salesforce Client" : {
          "displayName" : "Salesforce Client",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Salesforce Client",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "com.snowflake.openflow.runtime.processors.salesforce.AbortQueryJob",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2025.11.18.22"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "bea5ebc4-3e1b-3eae-aee7-8d23abd4635b",
      "maxBackoffPeriod" : "10 mins",
      "name" : "AttributesToJSON",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 104.0,
        "y" : 32.0
      },
      "properties" : {
        "Destination" : "flowfile-attribute",
        "Null Value" : "false",
        "Pretty Print" : "false",
        "Include Core Attributes" : "true",
        "JSON Handling Strategy" : "ESCAPED"
      },
      "propertyDescriptors" : {
        "Attributes Regular Expression" : {
          "displayName" : "Attributes Regular Expression",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes Regular Expression",
          "sensitive" : false
        },
        "Destination" : {
          "displayName" : "Destination",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Destination",
          "sensitive" : false
        },
        "Null Value" : {
          "displayName" : "Null Value",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Null Value",
          "sensitive" : false
        },
        "Attributes List" : {
          "displayName" : "Attributes List",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Attributes List",
          "sensitive" : false
        },
        "Pretty Print" : {
          "displayName" : "Pretty Print",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Pretty Print",
          "sensitive" : false
        },
        "Include Core Attributes" : {
          "displayName" : "Include Core Attributes",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Include Core Attributes",
          "sensitive" : false
        },
        "JSON Handling Strategy" : {
          "displayName" : "JSON Handling Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "JSON Handling Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.AttributesToJSON",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "DINESH",
    "flowIdentifier" : "testflow",
    "timestamp" : 1763541294049
  }
}